$contrast: #9284FA;
$normal: #6E64BB;
$common: #EDEBFF;
$ghost: #77708F;

$neutral: #409EFF;
$danger: #F56C6C;
$danger-hover: #FDE7E7;
$success: #67C23A;
$success-hover: #92ED65;
$success-focus: #49A41C;
$warning: #E6A23C;
$info: #909399;

$black: #000000;
$dark-gray: #3A3937;
$medium-gray: #757170;
$gray: #C7C3C2;
$light-gray: #D8D8D8;
$white: #ffffff;

$light: #F9F9F9;
$menu-light: #7F7D91;
$menu: #68667A;
$menu-dark: #58566A;

$outer-shadow: 0 8px 24px 0 #00000014;
